.venv
.vscode
__pycache__
config.yaml
tests.ipynb
GMA
tools
log/*
atdn_vslam/checkpoints/*.pth
atdn_vslam/eval/results
atdn_vslam/eval/archive
atdn_vslam/eval/GT
results.txt
utils/__pycache__
eval/plots
depth_gen
setup.py
docs
README.rst
slam.out
cmd/*
kalman_odometry.py
atdn_vslam.egg-info
.idea
*.sh
eval/calib.txt
disparitynet